<header>
  <form  action='/logout'>
    <input type="submit" value="Logout">
  </form>
</header>
<body>
<h1>The Studio</h1>
  <h2> Edit Your Account Info Below:</h2>
    <form method="POST" action="/clients/<%= @client.id %>">
    Name: <input type="text" name="name" value="<%= @client.name %>">
    Email: <input type="text" name="email" value="<%= @client.email %>">
    Password: <input type="text" name="password" value="">
    <input type="submit" value="Update Account">
  </form>
</body>
