<h1>Welcome to The Studio</h1>
  <h2> Sign Up below:</h2>
    <form method="POST" action="/signup">
    Name: <input type="text" name="name">
    Email: <input type="text" name="email">
    Password: <input type="text" name="password">
    <input type="submit" value="Submit">
  </form>
