<h1>Create a new project below</h1>

<form method="POST" action="/projects">
      Name: <input type="text" name="name" value="Enter Text"><br>
      Description: <input type="text" name="description" value="Enter Text"><br>
      Completion Date: <input type="date" name="project_completion"><br>
    <input type="submit" value="Create Project">
</form>
